    <footer>
        <div class="row">
            <div class="col-md-6">
                <span>Developed and Administered by Saravanan Jayabalan</span>
            </div>
            <div class="col-md-6 text-right">
                <span>E-mail ID: <a href="mailto:contact@way2cbe.com">contact@way2cbe.com</a></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <span>&copy;2017. All Rights Reserved.</span>
            </div>
            <div class="col-md-6 text-right">
                <span>Made with <i class="fa fa-heart-o"></i> in Coimbatore, India</span>
            </div>
        </div>
    </footer>