<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Saravanan Jayabalan <saravananj.com>">
    <meta name="google-site-verification" content="mzlsGIRg1KEOm5yloR1zX7Pz7R6eTHz972dObyVgjJU" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@way2cbe" />
    <meta name="twitter:creator" content="@saravanan9006" />

    <meta property="og:url" content="https://coimbatore.wiki/{{ page.permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="https://coimbatore.wiki/{{ page.image }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="fb:app_id" content="147518585881696">

    <title>{{ page.title }}</title>

    {% include styles.html %}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        
        {% include header.html %}

        <div id="mainContent">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="pageContent">
                        {{ content }}
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
        
        {% include footer.html %}
    </div>

    {% include scripts.html %}
    
</body>
</html>