<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Saravanan Jayabalan <saravananj.com>">
    <meta name="google-site-verification" content="mzlsGIRg1KEOm5yloR1zX7Pz7R6eTHz972dObyVgjJU" />

    <title>{{ page.title }}</title>

    {% include styles.html %}

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        
        {% include header.html %}

        <div id="mainContent">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="pageContent">
                        {{ content }}
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    {% include sidebar.html %}
                </div>
            </div>
        </div>
        
        {% include footer.html %}
    </div>

    {% include scripts.html %}
    
</body>
</html>